<div class="card card-contact card-raised">
  <form role="form" id="contact-form1" method="post" action="https://api.gregory-ms.com/subscriptions/new/">
    <div class="card-header text-center">
      <h4 class="card-title font-weight-bold">Stay updated</h4>
      <p class="p-3">Choose which alerts you want to receive.</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 pr-2">
          <label>First name</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pr-2"><i class="now-ui-icons users_circle-08"></i></span>
            </div>
            <input type="text" name="first_name" class="form-control" placeholder="First Name..." aria-label="First Name..." autocomplete="given-name">
          </div>
        </div>
        <div class="col-md-6 pl-2">
          <div class="form-group">
            <label>Last name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text pr-2"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <input type="text" name="last_name" class="form-control" placeholder="Last Name..." aria-label="Last Name..." autocomplete="family-name">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text pr-2"><i class="now-ui-icons ui-1_email-85"></i></span>
          </div>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email Here..." autocomplete="email">
        </div>
      </div>
      <div class="form-group">
        <label>I am a...</label>
        <div class="input-group">
          <select id="profile" name="profile" class="form-control">
            <option value="patient">patient</option>
            <option value="doctor">doctor</option>
            <option value="researcher">researcher</option>
            <option value="clinical centre">clinical centre</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Send me</label>
        <div class="input-group">
          <select id="list" name="list" class="form-control">
            <option value="2">weekly digest of articles</option>
            <option value="1">new clinical trials</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <button type="submit" class="btn btn-primary btn-round mr-auto ml-auto font-weight-bold">Subscribe</button>
        </div>
      </div>
    </div>
  </form>
</div>
